//? FONTS
.fs-7 {
    font-size: .8rem;
}

.fs-8 {
    font-size: .7rem;
}

.fs-9 {
    font-size: .6rem;
}

.fs-10 {
    font-size: .5rem;
}

.term-description {
    strong {
        background: linear-gradient(-45deg, #41dce8, #c882f0, #5ab7f2);
        background-size: 250% 250%;
        animation: gradient 4s ease infinite;
        border-radius: 5px;
        color: #fff;
        display: block;
        width: fit-content;
        padding: 0 15px;
        text-align: center;

        @media (max-width: 575.98px) {
            width: 100%;
        }
    
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }
}

.bernal-col {
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
    position: relative;
    overflow: hidden;

    @media (max-width: 575.98px) {
        padding: 40px 20px;
    }

    &:not(.none) {
        &:nth-child(odd) {
            &::after {
                content: '';
                position: absolute;
                width: 69%;
                height: 150px;
                border-radius: 50%;
                background-color: $primary;
                bottom: -127px;
                left: -9%;
            }
    
            &:not(:first-child)::before {
                content: '';
                position: absolute;
                width: 68%;
                height: 150px;
                border-radius: 50%;
                background-color: $primary;
                top: -127px;
                right: -9%;
            }
        }
    
        &:nth-child(even) {
            &::after {
                content: '';
                position: absolute;
                width: 68%;
                height: 150px;
                border-radius: 50%;
                background-color: #fff;
                top: -127px;
                right: -9%;
            }
    
            &:not(:last-child)::before {
                content: '';
                position: absolute;
                width: 69%;
                height: 150px;
                border-radius: 50%;
                background-color: #fff;
                bottom: -127px;
                left: -9%;
            }
        }
    }


    .ast-container {
        position: relative;
        display: block;
        margin: 0 auto;
    }

    &.primary {
        background-color: $primary;
        color: #fff;
    }
}

.bernal-col-bg {
    position: relative;
    padding: 1rem 0;

    &::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 100%;
        top: 0;
        left: -5%;
        // background-color: lighten($color: $primary, $amount: 63%);
        transform: rotate(-1deg);
        z-index: -1;
        background: url('../img/column-bg-new.png') no-repeat center/cover;
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
    }
}