@import 'bootstrap';
@import 'variables';
@import 'config';
@import 'utilities';

// Components
@import 'components/navigation';
@import 'components/carousel';
@import 'components/sidebar-menu';
@import 'components/woo-sidebar';
@import 'components/scroll-to-top';
@import 'components/mega-menu';
@import 'components/breadcrumb';
@import 'components/info-card';
@import 'components/product';
@import 'components/offcanvas';
@import 'components/table-of-content';
@import 'components/post-images';
@import 'components/hero-section';
@import 'components/footer';

// Templates
@import 'templates/front-page';
@import 'templates/single-product';
@import 'templates/products-archive';
@import 'templates/shop';
@import 'templates/cart';
@import 'templates/checkout';
@import 'templates/single';
@import 'templates/blog';
@import 'templates/search';
@import 'templates/page';

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
}

