footer.site-footer {
    .site-primary-footer-wrap {
        padding: 0;

        #block-29 {
            padding: 40px 20px 10px 20px;
            margin-bottom: 0 !important;
    
            .bernal-col {
                padding: 0 20px;
            }
        }
    }
}