footer.site-footer {
    .site-primary-footer-wrap {
        padding: 0;

        #block-29 {
            padding: 40px 20px;
    
            .bernal-col {
                padding: 0 20px;
            }
        }
    }
}