.mega-menu {
    &.show {
        border: 1px solid $primary;
    }

    &__container {
        display: flex;
        justify-content: space-evenly;

        @media (max-width: 767.98px) {
            flex-direction: column;
        }

        .featured-product {
            flex-basis: 20%;

            @media (max-width: 767.98px) {
                margin-right: 0 !important;
            }

            .image-container {
                position: relative;
                text-align: center;
                box-shadow: 2px 2px 15px #64129422;
    
                &::before {
                    content: 'NAJPRODAVANIJI PROIZVOD';
                    position: absolute;
                    top: -11.25px;
                    left: -10px;
                    font-size: 13px;
                    color: #fff;
                    width: 100%;
                    text-align: end;
                    padding-right: 5px;
                    border-radius: 3px;
                    overflow: hidden;
                    background: linear-gradient(-45deg, #41dce8, #c882f0, #5ab7f2);
                    background-size: 250% 250%;
                    animation: gradient 4s ease infinite;
                
                    @keyframes gradient {
                        0% {
                            background-position: 0% 50%;
                        }
                        50% {
                            background-position: 100% 50%;
                        }
                        100% {
                            background-position: 0% 50%;
                        }
                    }

                    @media (max-width: 767.98px) {
                        width: 80%;
                    }
                }
    
                &::after {
                    content: '';
                    width: 22.5px;
                    height: 22.5px;
                    transform: rotate(45deg) translateX(-3px) translateY(4px);;
                    position: absolute;
                    top: -13.25px;
                    left: -20px;
                    background-color: rgb(247,247,247);

                    @media (max-width: 767.98px) {
                        left: -10px;
                    }
                }
            }
        }


        #menu-mega-menu {
            font-weight: 700;
            display: flex;
            
            @media (max-width: 767.98px) {
                padding: 25px 0;
                flex-direction: column;
            }

            & > li {
                flex-basis: 50%;

                & > a {
                    color: $primary;
                    margin-bottom: 15px;
                    display: inline-block;
                }
            }

            .sub-menu {
                z-index: 2;

                li {
                    margin: 0 15px 15px 0;

                    a {
                        color: $dark-1;
                    }
                }
            }
        }

        nav.menu-class {
            position: relative;
            overflow: hidden;

            .sub-menu {
                margin-left: 0;

                @media (max-width: 767.98px) {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    text-align: start;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    padding: 10px 0;
                    background: #fff;
                    box-shadow: inset 0 1rem 3rem rgba(101,18,148,0.05);
                    border-radius: 3px;
                    margin-left: 120%;
                    transition: .3s all;
                    padding-left: 15px;
                    overflow-y: scroll; /* Always show scroll bars */
                    scrollbar-width: thin;

                    &::-webkit-scrollbar {
                        width: 10px; /* Adjust the width as needed */
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background: lighten($color: $primary, $amount: 40%); /* Scroll bar handle color */
                        border-radius: 10px; /* Adjust the border radius for a rounded handle */
                    }
                    
                    &::-webkit-scrollbar-button {
                        display: none; /* Hide scroll bar arrow buttons */
                    }
    
                    .close-sub-menu {
                        border: 1px solid $primary;
                        border-radius: 3px;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 12px;
                        padding: 2px 7px;
                    }
                }
            }
        }

        &__ilustracija {
            position: absolute;
            bottom: 15px;
            right: 15px;
            z-index: 1;
            width: 30%;

            @media (min-width: 768px) {
                width: 120px;
            }
        }
    }
}