body.blog {
    background-color: $content-bg;

    #primary.primary {
        margin-top: 0;

        @media (max-width: 575.98px) {
            display: flex;
            gap: 15px;
        }

        article {
            @media (max-width: 575.98px) {
                width: 50%;
            }
    
            .blog-single-container {
                .image-container {
                    width: 140px;
                    height: 140px;
                    border-radius: 5px;
                    background-size: cover;
                }

                .excerpt {
                    text-decoration: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
            }

            .read-more {
                display: none;
            }
        }
    }

    #secondary {
        margin-top: 0;
        padding: 0 0 0 30px !important;

        @media (max-width: 575.98px) {
            padding: 0 !important;
        }
    }
}