body.blog {
    background-color: $content-bg;

    #primary.primary {
        margin-top: 0;
        gap: 15px;
        
        @media (max-width: 575.98px) {
            display: flex;
        }

        .posts-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;

            @media (max-width: 575.98px) {
                grid-template-columns: repeat(1, 1fr);
            }

            article {
                border: 1px solid $primary;
        
                .blog-single-container {
                    .image-container {
                        width: 100px;
                        height: 100px;
                        border-radius: 5px;
                        background-size: cover;
                    }
    
                    .excerpt,
                    h2 {
                        text-decoration: none;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }

                    .post-category {
                        padding: 1px 8px;
                    }
                }
    
                .read-more {
                    display: none;
                }
            }
        }
    }

    #secondary {
        margin-top: 0;
        padding: 0 0 0 30px !important;

        @media (max-width: 575.98px) {
            padding: 0 !important;
        }
    }
}